header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 main  {
    display: flex;
    gap: 20px;
 }


 main li {
    list-style: none;
    margin-left: 20px;
 }
nav {
    flex-grow: 1;
}


nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    width: 100%;
   
}

h1 {
    text-align: center;
    
}

footer {
    margin-top: 20px;
    
}

body ul {
    list-style: none;

 }

.summary {
    margin-top: 40px;
    font-size: 20px;
}

#calculator-keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* ensuring that the button sizes are standardized regardless of whats inside */
    /* gap: 10px; */ /*adding gaps between buttons simple enough */
    margin-bottom: 10px;
    width: 250px;
    border: 5px solid red;
   
}
#calc-screen {
    margin-bottom:10px;
    box-sizing: border-box;
    width: 100%;
    grid-column: 1 / -1;
}

#btn-enter {
    grid-column: span 3;
    width: 100%;
}

#demo {
    height: 20px;
    border: 20px solid red;
}